body{color: black;
    
    font-size: 26px;
    
    background-color: rgb(181, 184, 14); font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif}  
    
    header{text-align: center;}

    main{padding: 20px;}
    
    .links{text-align: center;}
    